.about-mission {
  padding: 80px 90px;
  background: #fff;
}

.mission-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.timeline-item {
  display: flex;
  gap: 40px;
}

.timeline-year {
  font-size: 20px;
  font-weight: 600;
  min-width: 60px;
}

.timeline-content {
  position: relative;
  padding-left: 40px;
  border-left: 2px solid #e5e5e5;
}

.timeline-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 14px;
  color: #8a8a8a;
  line-height: 1.6;
}

.dot {
  position: absolute;
  left: -7px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: #3cb371;
  border-radius: 50%;
}



/* TABLET */
@media (max-width: 900px) {
  .about-mission {
    padding: 60px 40px;
  }

  .mission-title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .timeline-item {
    gap: 30px;
  }

  .timeline-year {
    font-size: 18px;
    min-width: 50px;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .about-mission {
    padding: 40px 20px;
  }

  .mission-title {
    font-size: 26px;
    text-align: center;
  }

  .timeline-item {
    flex-direction: column;
    gap: 15px;
  }

  .timeline-year {
    font-size: 18px;
  }

  .timeline-content {
    padding-left: 25px;
  }

  .dot {
    left: -6px;
    top: 0;
    width: 10px;
    height: 10px;
  }
}
