.indoor{
    padding: 30px 90px;
    ;
}

.indoor-t{
    max-width: 1350px;
    padding: 3px;
    
}

.indoor-t h1{
    color: rgb(36, 36, 36);
    font-size: 40px;
}


.indoor-cards{
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    max-height: 400px;
    
}

.indoor-card{
    max-width: 650px;
    max-height: 540px;
    height: auto;
    

    overflow: hidden;
    transition: all 0.33s ease;
}

.indoor-card:hover{
    transform: translateY(-12px);
    box-shadow: 0 20px 40px rgb(173, 211, 173);
}

.indoor-img{
    width: 100%;
    height: 270px;
   
}

.indoor-img img{
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 100%;
}


.indoor-text{
    padding: 5px 0;
    width: 100%;
    height: 120px;
    
}

.indoor-text h3{
    color: rgb(45, 44, 44);
}

.indoor-text p{
    color: rgb(118, 117, 117);
    line-height: 1.4;
}



/* LARGE TABLET */
@media (max-width: 1100px) {
  .indoor {
    padding: 40px 40px;
  }

  .indoor-cards {
    gap: 30px;
    justify-content: center;
    max-height: unset;
  }

  .indoor-card {
    max-width: 48%;
  }
}

/* TABLET */
@media (max-width: 900px) {
  .indoor-t h1 {
    font-size: 32px;
  }

  .indoor-cards {
    flex-wrap: wrap;
  }

  .indoor-card {
    max-width: 100%;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .indoor {
    padding: 30px 20px;
  }

  .indoor-t h1 {
    font-size: 26px;
    
  }

  .indoor-img {
    height: 220px;
  }

  .indoor-text {
    height: auto;
    padding: 10px;
  }

  .indoor-text p {
    font-size: 14px;
  }
}
