/* Navbar container */
.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 90px;
  position: relative;
}

/* Logo */
.logo2 h1 {
  font-size: 30px;
  font-weight: 700;
}

/* Menu */
.menu2 {
  display: flex;
  gap: 45px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Links */
.menu2 li a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.menu2 li a:hover {
  color: #47ad51;
}

/* Button */
.btn2 button,
.mobile-btn2 button {
  padding: 10px 25px;
  border: none;
  background-color: #47ad51;
  color: #fff;
  cursor: pointer;
}

.btn2 button:hover,
.mobile-btn2 button:hover {
  background-color: #23702b;
}

/* Hamburger */
.hamburger2 {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger2 span {
  width: 25px;
  height: 3px;
  background: #000;
}

/* MOBILE */
@media (max-width: 768px) {

  .navbar2 {
    padding: 0 20px;
  }

  /* Desktop button o‘chadi */
  .btn2 {
    display: none;
  }

  /* Hamburger chiqadi */
  .hamburger2 {
    display: flex;
  }

  /* Menu yashirin */
  .menu2 {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px 0;
    display: none;
  }

  /* Hamburger bosilganda */
  .menu2.active {
    display: flex;
  }

  /* Mobile button ko‘rinadi */
  .mobile-btn2 {
    display: block;
  }
}

/* Desktopda mobile button yo‘q */
.mobile-btn2 {
  display: none;
}
